CORS_DOMAINS=http://localhost:8100,capacitor://localhost,http://localhost,https://localhost
JWT_SECRET=
ACCESS_TOKEN_EXPIRES=24h
PORT=4001
RESEND_KEY=
DB_HOST=localhost
DB_PORT=5432
DB_USER=infile_auth
DB_PASSWORD=Contra123.
DB_NAME=infile